-- Xóa database nếu đã tồn tại
IF DB_ID('bookhub_db') IS NOT NULL
BEGIN
    ALTER DATABASE bookhub_db SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE bookhub_db;
END
GO

-- Tạo lại database
CREATE DATABASE bookhub_db;
GO
USE bookhub_db;
GO
CREATE TABLE Users (
    user_id INT IDENTITY(1,1) PRIMARY KEY,
    full_name NVARCHAR(255) NOT NULL,
    username VARCHAR(50) NOT NULL,
    email VARCHAR(100) NOT NULL,
    password_hash VARCHAR(255) NOT NULL,
    created_at DATETIME DEFAULT GETDATE()
);
GO
SET IDENTITY_INSERT Users ON;

INSERT INTO Users (user_id, full_name, username, email, password_hash, created_at)
VALUES 
(1, N'Nguyễn Văn A', N'vana_test', N'vana@bookhub.com', N'123456', '2025-11-17 19:54:45'),
(2, N'Trần Thị B', N'thib_test', N'thib@bookhub.com', N'123456', '2025-11-17 19:54:45'),
(3, N'todongcan', N'cantodong', N'dienmayxanhu@g,ail.com', N'123456', '2025-11-20 04:05:40');

SET IDENTITY_INSERT Users OFF;
GO
